* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 40px;
  position: relative;
}

.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-popup h1 {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 500;
  text-align: center;
}

.form-popup .form-container {
  max-width: 700px;
  padding: 10px;
  background-color: #fff;
  padding-left: 50px;
}

.form-popup .form-container p[for="name"] {
  margin-bottom: 10px;
}

.form-popup .form-container .name-input {
  max-width: 200px;
  line-height: 25px;
  font-size: 25px;
  opacity: 0.7;
  background: #f1f1f1;
  padding: 15px;
  margin-bottom: 50px;
}

.form-popup .form-container .name-input:focus {
  background-color: #ddd;
}

.form-popup .form-container p[for="start"] {
  margin-bottom: 20px;
}

.form-popup .form-container .start-button {
  background-color: #04AA6D;
  color: white;
  max-width: 200px;
  border-radius: 10px;
  line-height: 55px;
  font-size: 25px;
  width: 100%;
}

.game-screen {
  display: none;
}

.game-screen .game-screen-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-screen .battleship-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}

.game-screen .battleship-panel div {
  min-height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
}

.game-screen .battleship-panel .battleship-cell {
  border: 1px solid black;
  text-align: center;
}

.game-screen .battleship-panel .battleship-cell-playable:hover {
  background-color: #f3a9ce;
}

.game-screen .info-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-screen .info-panel .game-resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-screen .info-panel .game-resources .ammo-progress-bar {
  min-width: 150px;
  border: 2px solid #020202;
  border-radius: 10% / 50%;
}

.game-screen .info-panel .game-resources .ammo-progress-bar .ammo-progress-bar-line {
  width: 0%;
  height: 15px;
  background-color: #f38383;
  border-radius: inherit;
}
