@import "./nullstyle.scss";

$fz: 40px;
$form-margin: 50px;
@mixin button {
  background-color: #04AA6D;
  color: white;
  max-width: 200px;
  border-radius: 10px;
  line-height: 55px;
  font-size: 25px;
  width: 100%;
}

body {
  font-size: $fz;
  position: relative;
}

.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  h1 {
      font-size: $fz+20px;
      margin-bottom: $form-margin;
      font-weight: 500;
      text-align: center;
    };
  .form-container {
    max-width: 700px;
    padding: 10px;
    background-color: #fff;
    padding-left: 50px;
    p[for="name"] {
      margin-bottom: 10px;
    }
    .name-input {
      max-width: 200px;
      line-height: 25px;
      font-size: 25px;
      opacity: 0.7;
      background: #f1f1f1;
      padding: 15px;
      margin-bottom: $form-margin;
    }
    .name-input:focus {
      background-color: #ddd;
    }
    p[for="start"] {
      margin-bottom: 20px;
    }
    .start-button {
      @include button;
    }
  }
}

.game-screen {
  display: none;
  .game-screen-content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .battleship-panel {
    display: flex;
    min-width: 600px;
    margin-right: 50px;
    // replace margin-bottom to correct property to center battleship panel
    // margin-bottom: 500px;
    margin-bottom: 50vh;
    div {
      // min-height: 50px;
      // flex: 1 0 50px;
      // max-height: 50px;
      min-height: 50px;
      min-width: 50px;
      max-height: 50px;
      max-width: 50px;
    }
    .battleship-cell {
      border: 1px solid black;
      text-align: center;
    }
    .battleship-cell-playable:hover {
      background-color: rgb(243, 169, 206);      
    }
  }
  .info-panel {
    display: flex;
    flex-direction: column;
    .game-resources {
      display: flex;
      min-width: 300px;
      justify-content: space-between;
      .ammo-progress-bar {
        min-width: 150px;
        border: 2px solid rgb(2, 2, 2);
        border-radius: 10% / 50%;
        .ammo-progress-bar-line {
          width: 0%;
          height: 15px;
          background-color: rgb(243, 131, 131);
          border-radius: inherit;
        }
      }
    }
  }
}

.end-game-screen {
  display: none;
  .end-game-screen-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin-bottom: 30px;
    }
    .play-again-button {
      @include button;
    }
  }
  .end-game-table {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin-bottom: 70px;
    h3 {
      margin-bottom: 10px;
      font-weight: 700;
    }
    p {
      padding: 2px 0;
    }
    .end-game-table-name {
      margin-right: 150px;
    }
    .end-game-table-shots {
      margin-right: 50px;
    }
  }
}

.game-over-screen {
  display: none;
  .game-over-screen-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}